### IntelliJ 설정파일 ###
.idea/
out/
generated/

### Gradle 자동 생성되는 파일이라 올릴 필요 없고, Gradle Wrapper 올려야됨###
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

### Multi-module build 모듈 내부에서도 build 생성되니깐 제외해도됨 ###
module-core/build/
module-util/build/